


/* Grid */

.column {
  flex-basis: 100%;
  margin: .8rem;
}
.hero {
  line-height: 300px;
  overflow: hidden;
  font-size: 2rem;
  text-transform: uppercase;



}

.booking {
  height: 100px;
  width: 100%;
  border: 1px solid #333333;
  color: white;
  display: flex;
}

.dateContainer {
margin: 0;
}

input {
  width:150px;
  padding: 5px;
  box-sizing: border-box;

}

.guests {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #AAA;
}

@media screen and (min-width: 800px) {
  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    color: white;
    justify-content: space-evenly;
  }

  .hero {
    min-height: 660px;
    font-size: 3rem;
  }

  .column {
    flex: 1;
  }
  ._25 {
    flex: 2.5;
  }
  ._5 {
    flex: 5;
  }
}
.header {
  padding: 1rem 0 3rem;
}

.menu {
  margin: 0;
}

.title {
  color: #000000;   
}

.nav-list {
  display: flex;
  list-style-type: none;
  margin: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
}


.nav-item {
  color: #ffffff ;
  text-decoration: none;
  font-size: .9rem;
  margin-right: 1.3rem;
  
}
/* Style */

body {
  font-family: 'Lato', sans-serif;
  font-size: 1.3em;
  color: #ffffff;
  background: #000;
  margin-bottom: 70px;
}

.custom {
  
}

.column {
  color: #ffffff;
  text-align: center;
}

@media screen and (min-width: 1000px){
  .hero {
   line-height: 660px;
  }
}


h1,
h2 {
  text-align: center;
}


.nav-list {
  display: flex;
  list-style-type: none;
  margin: 0;
}


.logo {
  
}

.header {
  padding: 1rem 0 3rem;
}

.title {
  color: #000000;   
}

.imgContainer{
  height: 400px;
  width: 100%;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.linkStyles {
  display: block;
  text-decoration: none;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  width: 100%;
  height: 100%;
}

.navToggle {
  display: none;
}

@media screen and (max-width:800px){
  .navToggleLabel:before {
    color: white;
    content: 'Menu'
  } 
  /* .navList .navItem {
    display: none !important;
  } */
  .navToggle:checked + nav {
    display: flex;
  } 

  nav {
    display: none !important; 
  } 

  .logo {
    display: none;
  }

  /* .navItem {
    flex-basis: 100%;
  } */

}



